/*
=============== 
Variables
===============
*/

:root {
  --clr-white: #fff;
  --clr-black: #222;
  --radius: 0.25rem;
  --light-shade:#F9F8F9;
  --dark-shade:#303845;
  --light-accent:#8B9495;
  --dark-accent:#8A8385;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: var(--light-shade);
  color: var(--dark-shade);
  line-height: 1.5;
  font-size: 0.875rem;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 0.1rem;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

.container {
  text-align: center;
  display: flex;
  align-items: center;
  height: 100px;
  padding-left: 2rem;
}
.container h3 {
  margin-bottom: 0;
  margin-right: 2rem;
}

input {
  border-color: transparent;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
}
.btn {
  background: var(--dark-shade);
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border-color: transparent;
  border-radius: var(--radius);
  margin: 1rem;
  color: var(--light-shade);
  cursor: pointer;
}
@media screen and (max-width: 576px) {
  .container h3 {
    font-size: 1rem;
  }
  input,
  .btn {
    font-size: 0.85rem;
  }
}
input.error {
  border: 3px solid red;
}
.colors {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: 150px;
  gap: 0.2rem;
  margin: 1rem;
  box-shadow: 0px 10px 20px 10px var(--light-accent);
}
.color {
  padding: 1rem 2rem;
  cursor: pointer;
  font-size: 1rem;
  text-transform: none;
}
.color-light .color-value {
  color: var(--clr-white);
}
.color-light .percent-value {
  color: var(--clr-white);
}

.alert {
  text-transform: uppercase;
  font-size: 0.85rem;
  margin-top: 0.5rem;
}
@media (max-width: 800px) {
  .container {
    flex-direction: column;
    justify-content: end;
  }
  .colors {
    margin: 4rem 1rem;
  }
  .container h3 {
    margin-top: 1rem;
  }
  .btn {
    margin: 0.5rem;
  }
}
